<html>
    <head>
        <title>New Request</title>
    </head>
    <body>
        <form method="POST" action="{{ url_for('.new_package')}}">
            {{ form.csrf_token }}
            <div>
                <div>{{ form.sender.label }} {{ form.sender }}</div>
                <div>{{ form.recipient.label }} {{ form.recipient }}</div>
                <div>{{ form.origin.label }} {{ form.origin }}</div>
                <div>{{ form.destination.label }} {{ form.destination }}</div>
                <div>{{ form.express.label }} {{ form.express }}</div>
                <div>{{ form.submit.label }} {{ form.submit }}</div>
            </div>
        </form>
    </body>
</html>
